@{
    ViewBag.Title = "Home Page";
}

<main>
    
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active altro ">
                <img src="~/images/Punti_Di_Raccolta-1024x538.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/Preventivo.jpg" class="d-block " alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/Spedizioni-corriere.jpg" class="d-block " alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container text-center mt-3">
        <div class="row">
            <p>
                Benvenuti nella nostra casa online dedicata alle spedizioni, il luogo ideale dove la convenienza e l'efficienza si incontrano per offrirvi un servizio di consegna senza pari. Siamo entusiasti di accogliervi nel nostro spazio digitale, progettato per semplificare il processo di spedizione e rendere ogni consegna un'esperienza straordinaria.
            </p>
        </div>
        <div class="row ">

            <div class="col p-0">
                <div class="card '" style="width: 18rem;">
                    <img src="~/images/Cattura29.png" class="card-img-top" alt="...">
                    <div class="card-body navMain">
                        <h4 class="card-title">Spedizione</h4>
                        <p class="card-text fs-4">Controlla lo stato della tua spedizione inserendo il codice.</p>
                        <a href="#" class="btn colorb">Controlla</a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</main>